node_modules/
dist/
.idea/

.DS_Store
Thumbs.db
*.swp
*.swo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

*.iml
*.iws
*.ipr
.env
.env.local
.env.development
.env.production

*.js.map
*.css.map
tsconfig.tsbuildinfo

.shelf/
workspace.xml
httpRequests/
dataSources/
dataSources.local.xml